@media (max-width: 950px){
    .navigation {
        display: none;
    }
    .burger {
        display: block;
    }
}
@media (max-width: 380px){
    .btnAdd {
        display: block;
        margin: 5px auto;
    }
}